.hero {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}

.hero-img {
    margin-top: 150px;
}

.hero h3 {
    text-align: center;
    width: 70%;
    font-size: 60px;
    font-weight: 600;
}

.hero h3 span {
    background: linear-gradient(270deg, #DA7C25 10%, #B923E1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p {
    width: 50%;
    text-align: center;
    font-size: 19px;
    line-height: 40px;
}

.hero-action {
    display: flex;
    align-items: center;
    gap: 25px;
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 50px;
}

.hero-connect {
    padding: 25px 25px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DA7C25 -5.09%, #B923E1 100%);
    cursor: pointer;
}

.hero-Resume {
    padding: 25px 25px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
}

.hero-connect:hover {
    border: 2px solid white;
}

.hero-resume:hover {
    border-color: #B923E1;
}

@media(max-width:768px) {
    .hero img {
        margin-top: 120px;
        width: 260px;
    }

    .hero h1 {
        margin-top: 50px;
        width: 90%;
        font-size: 50px;
    }

    .hero p {
        width: 60%;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-action {
        gap: 16px;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 50px;
    }

    .hero-connect {
        padding: 20px 30px;
        border-radius: 40px;
    }
    .hero-Resume{
        padding: 20px 50px;
        border-radius: 40px;
    }


}